<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Care</title>
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/generalForm.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
<main class="header-main d-flex justify-content-center align-items-center flex-column change-color">

    <img
            class="mb-4"
            src="/assets/images/favicon/favicon.svg"
            alt="Planta feliz"
            width="200"
            height="200"
    />

    <h2>¡Pedido realizado con éxito!</h2>
    <hr style="width:50%">
    <p>Gracias por tu compra. Recibirás tu pedido pronto.</p>
    <hr style="width:50%">

    <div class="d-flex gap-3 mt-2">
        <a href="/User/ordersUser" class="license" style="font-size: 20px;">Ver mis pedidos</a>
        <span style="font-size: 20px;">·</span>
        <a href="/Products/catalogProducts" class="license" style="font-size: 20px;">Seguir comprando</a>
    </div>

    <hr style="width:50%">
</main>
</body>
</html>