.card {
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body .mt-auto {
    margin-top: auto;
}


/* Override centered body from main.css for this page */
body {
    height: auto !important;
    justify-content: unset !important;
    align-items: unset !important;
}

.card-img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    overflow: hidden;
}

.card-img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.star-favorite {
    color: gold;
}

.trash-icon {
    font-size: 1.4rem;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
    background: none;       /* quitar fondo */
    border: none;           /* quitar borde */
    padding: 0;             /* quitar padding extra */
    outline: none;          /* quitar outline al hacer click */
}

.trash-icon:hover {
    color: #d32f2f;         /* rojo al pasar el ratón */
}


.btn-close:focus,
.btn-close:active {
    outline: none !important;
    box-shadow: 0 0 0 0.25rem rgba(76, 175, 80, 0.5) !important; /* borde verde al hacer click o focus */
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    padding: 0 10px;
}
.custom-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;           /* mismo ancho */
    height: 30px;          /* mismo alto */

    font-size: 1.5rem;
    color: #333;

    background-color: white;
    border-radius: 50%;

    transition: all 0.2s ease;
}

/* Hover bonito */
.custom-arrow:hover {     /* verde */
    color: #198754;
    transform: scale(1.1);
}






