.bg-primary{
    background-color: #66BB6A !important;
}
/* Main container */
main {
    max-width: 1000px; /* maximum width so that it does not come out */
    margin: 0 auto; /* center */
    padding: 20px;
}

form {
  padding-top: 0;
}


/* Form and cart */
.col-md-5, .col-md-7 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Smaller inputs with more space */
form .form-control {
    font-size: 0.9rem;
    padding: 6px 10px;
}

/* Adjust cart list */
#cart-items li {
    font-size: 0.9rem;
    padding: 6px 10px;
}

.btn {
    padding: 6px 12px;
    font-size: 0.9rem;
}
.eliminar-btn {
    background-color: #EF5350;
}

.eliminar-btn:hover {
    background-color: #C62828;
}
