<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <!-- Para hacer el diseño responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Green Care</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- CSS externo -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="/assets/js/main.js"></script>
</head>
<body>
{{>header}}
<nav id="header-global"></nav>
<main class="header-main d-flex align-items-center flex-column">
  <h1>Gestión de pedidos</h1> <p class="lead"> Observa los pedidos que tienes solicitados, cuales se estan repartiendo y cuales se han repartido y editalos </p>

    <table class="table table-bordered text-center">
      <thead class="table-success">
      <tr>
        <th>Usuario</th>
        <th>Productos</th>
        <th>Estado del pedido</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>pepito_92</td>

        <td class="text-start">
          <ul class="mb-0">
            <li>Fertilizante (x2)</li>
            <li>Maceta (x1)</li>
          </ul>
        </td>

        <td>
          <select class="form-select form-select-sm">
            <option selected>En proceso</option>
            <option>Enviado</option>
            <option>Entregado</option>
          </select>
        </td>
      </tr>

      <tr>
        <td>ana_garden</td>

        <td class="text-start">
          <ul class="mb-0">
            <li>Sustrato Universal (x1)</li>
            <li>Regadera (x1)</li>
          </ul>
        </td>

        <td>
          <select class="form-select form-select-sm">
            <option>En proceso</option>
            <option selected>Enviado</option>
            <option>Entregado</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>

</main>

<footer id="footer-global"></footer>

</body>
</html>
