<!DOCTYPE html>
<html lang="es">
<head>
    <!--FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Care</title>

    <!-- MODERN SVG FAVICON -->
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">

    <!-- APPLE/MOVILEPHONE -->
    <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- External CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/catalogProductsAndPlants.css">
    <link rel="stylesheet" href="/assets/css/generalForm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
{{>header}}
<main class="pt-5">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light change-color">Tablon de las reviews 🌟</h1>
            </div>
        </div>
        {{#userOnly}}
        <a class="btn btn-success rounded-pill px-4 py-3 main-button secondary" href="/Reviews/newreview">Añadir Review</a>
        {{/userOnly}}

        {{#loginOptions}}
        <form method="get" action="/Reviews/forum" class="d-flex gap-3">
            {{#userOnly}}
            <select name="whatToShow" onchange="this.form.submit()" class="form-select form-select-sm rounded-pill px-4 py-3" style="height: 50px; width: 200px;">
                <option value="">Todo</option>
                <option value="misReviews" {{#misReviews}}selected{{/misReviews}}>Mis reviews - editar</option>
            </select>
            {{/userOnly}}

            <select name="type" onchange="this.form.submit()" class="form-select form-select-sm rounded-pill px-4 py-3" style="height: 50px; width: 125px;">
                <option value="" {{^type}}selected{{/type}}>Todo</option>
                <option value="PLANT" {{#isPlant}}selected{{/isPlant}}>Planta</option>
                <option value="PRODUCT" {{#isProduct}}selected{{/isProduct}}>Producto</option>
            </select>
        </form>
        {{/loginOptions}}

    </section>


    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

                {{#reviews}}
                <div class="col">
                    <div class="card shadow-sm h-100 planta">
                        <div class="card-body d-flex flex-column">
                            <h5 class="h5 change-color">{{title}}</h5>
                            <p class="card-text fw-bold">{{user}}</p>
                            <p class="card-text">{{description}}</p>
                            <div class="icon-group d-flex flex-column text-start align-items-start">

                                {{#userOnly}}
                                <form style="padding-top: 0px;" action="/Reviews/{{id}}/delete" method="post">
                                    <button type="submit" class="trash-icon bi bi-trash3" ></button>
                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                </form>
                                {{/userOnly}}
                                {{#adminOnly}}
                                <form style="padding-top: 0px;" action="/Reviews/{{id}}/delete" method="post">
                                    <button type="submit" class="trash-icon bi bi-trash3" ></button>
                                    <input type="hidden" name="_csrf" value="{{token}}"/>
                                </form>
                                {{/adminOnly}}

                            </div>
                            <div class="buttons-container">
                                {{#showEditButton}}
                                <a href="/Reviews/editReview/{{id}}" class="btn btn-success rounded-pill px-4 py-3 main-button secondary">
                                    Editar review
                                </a>
                                {{/showEditButton}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/reviews}}

            </div>
        </div>
    </div>



</main>

{{>footer}}

</body>
</html>