  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">

    <!-- To make the design responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Green Care</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- External CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
      <link rel="stylesheet" href="/assets/css/generalForm.css">
      <link rel="stylesheet" href="/assets/css/smallForms.css">
      <link rel="stylesheet" href="/assets/css/user.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
{{>header}}

  <main class="pt-5">
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h2 class="fw-light change-color">Tablón de reviews 🌟</h2>

                <select class="form-select form-select-sm rounded-pill px-4 py-3" style="height: 50px; width: 125px;">
                    <option selected>Todo</option>
                    <option>Planta</option>
                    <option>Producto</option>
                </select>

</div>

        </div>
      </div>
    </section>


      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

          <div class="col">
            <div class="card shadow-sm  h-100">
              <div class="card-body d-flex flex-column justify-content-center">
                <div class="profile-header" style="align-items: center;">
                  <div class="profile-photo mb-3" style="width: 60px; height: 60px;"> </div>
                    <p>usuario123</p>
                </div>

                <p class="card-text fw-bold">Nombre</p>
                <p class="card-text">Nutre tus plantas de manera rápida y efectiva.</p>
                <div class="actions d-flex gap-2">
                    <i class="bi bi-trash3 trash-icon"></i>
                </div>
              </div>

            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm  h-100">
              <div class="card-body d-flex flex-column justify-content-center">
                <div class="profile-header" style="align-items: center;">
                  <div class="profile-photo mb-3" style="width: 60px; height: 60px;"></div>
                    <p>usuario123</p>
                  </div>
                <p class="card-text fw-bold">Nombre</p>
                <p class="card-text">Nutre tus plantas de manera rápida y efectiva</p>
                                <div class="actions d-flex gap-2">
                    <i class="bi bi-trash3 trash-icon"></i>
                </div>

            </div>
          </div>
          </div>
            {{#loginOptions}}
                {{#userOnly}}
              <div class="col">
                    <div class="card shadow-sm h-100 planta">
                        <div class="card-img-container"  style="padding-top: 10px">
                            <a href="/Reviews/newreview" class="circle-edition">
                                <span>+</span>
                            </a>

                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h5 class="h5 change-color text-center m-0">
                                Añadir review 💫
                            </h5>
                        </div>
                    </div>
              </div>
                {{/userOnly}}
            {{/loginOptions}}

        </div>
      </div>
  </main>
<script>
    document.querySelectorAll('.trash-icon').forEach(star => {
        star.addEventListener('click', () => { //toggle changes the class of an element and works like a switch
        star.classList.toggle('active');  //This is how composite classes are set (whatever.subclass)
      });
  });
</script>

{{>footer}}
</body>
</html>
