<!DOCTYPE html>
<html lang="en">
<head>
    <!--FAVICON -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Care</title>

    <!-- MODERN SVG FAVICON -->
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon/favicon.svg">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico">

    <!-- APPLE/MOVILEPHONE -->
    <link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- External CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/generalForm.css">
    <link rel="stylesheet" href="/assets/css/smallForms.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>
<body>
{{>header}}
<main class="form-signin w-100 m-auto">
    <form class="text-center" action="/Reviews/newreview" method="post">
        <input type="hidden" name="_csrf" value="{{token}}"/>

        <h3 class="h3 mb-4 fw-normal change-color">Escribe tu comentario aquí</h3>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="title" placeholder="Nombre de la review" required>
            <label>Nombre de la review</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select form-select-sm" name="type">
                <option value="PLANT">Planta</option>
                <option value="PRODUCT">Producto</option>
            </select>
        </div>
        {{#nameNotValid}}
          <div class="alert alert-danger">
            No existe ese producto o esa planta
          </div>
        {{/nameNotValid}}
        
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="productOrplant" placeholder="Nombre de la planta (especie) / producto" required>
            <label>Nombre de la planta (su especie) o del producto</label>
        </div>


        <div class="form-floating mb-3">
            <textarea class="form-control" name="description" style="height:120px" required></textarea>
            <label>Descripción</label>
        </div>

        <button type="submit" class="btn btn-success rounded-pill px-4 py-3 fw-medium main-button w-100">
            Guardar review
        </button>

    </form>

</main>
{{>footer}}

</body>
</html>

