<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Green Care</title>


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/catalogProductsAndPlants.css">
    <link rel="stylesheet" href="/assets/css/generalForm.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
{{>header}}

<main class="container py-5">
    <h2 class="text-center mb-4">Editar mis plantitas</h2>
    <!-- BOTTONS -->
    <div class="buttons-container mt-3 m-auto text-center" style="padding-bottom: 20px;">
            <a href="/Plants/catalogPlants" class="btn btn-success rounded-pill px-4 py-3 main-button">Cancelar</a>
            <!-- Open lateral forms -->
            <button class="btn btn-success rounded-pill px-4 py-3 main-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#plantFormOffcanvas" aria-controls="plantFormOffcanvas">
                Editar campos plantita
            </button>

            <!--add image-->
            <form action="/addImageToPlant/{{id}}" style="padding-top: 0px;" method="post" enctype="multipart/form-data">
                <input
                        class="d-none"
                        name="newImage"
                        type="file"
                        id="plantImage"
                        accept="image/*"
                        required
                        onchange="this.form.submit()" />  <!-- upload automatically when the photo is chosen -->
                <button type="button" class="btn btn-success rounded-pill px-4 py-3 main-button" id="uploadBtn">
                    Añadir fotito 🪴
                </button>
            </form>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {{#plant}}
            <!-- lateral forms -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="plantFormOffcanvas" aria-labelledby="plantFormOffcanvasLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title " id="plantFormOffcanvasLabel">Editar Plantita</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                </div>
                <div class="offcanvas-body">
                    <form action="/Plants/editPlant/{{id}}" method="post" enctype="multipart/form-data">

                        <!-- plant name -->
                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    name="name"
                                    placeholder="Nombre"
                            />
                            <label>Nombre de la planta</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    name="cares"
                                    placeholder="Tipo"
                            />
                            <label>Cuidados específicos, tipo de abono, cada cuánto hay que regarla...</label>
                        </div>

                        <div class="form-floating mb-3"> <!--Number of max chars: max length-->
                            <textarea
                                    class="form-control"
                                    placeholder="Descripción"
                                    name="description"
                                    id="description"
                                    style="height: 100px"
                                    maxlength="136"
                            ></textarea>
                            <label>Descripción</label>
                        </div>

                        <button type="submit" class="btn btn-success rounded-pill px-4 py-3 main-button">Guardar cambios</button>
                    </form>
                </div>
            </div>
            <!--images-->
            {{#plant.images}} <!--Here, you are already in the list of images, so when you access /images/id, you are accessing with the image id-->
                <div class="col">
                    <div class="card shadow-sm h-100 p-3 planta">
                        <div class="card-img-container">
                                <img src="/images/{{id}}" class="img-fluid rounded">
                        </div>
                        <div class="icon-group d-flex flex-column gap-1 text-start align-items-start">
                            <div class="actions d-flex gap-2">
                                <i class="bi bi-trash3 trash-icon"></i>
                            </div>
                        </div>
                        </div>
                </div>
            {{/plant.images}}
    </div>
    {{/plant}}

</main>

{{>footer}}
<script>
    const inputFile = document.getElementById('plantImage');
    const uploadBtn = document.getElementById('uploadBtn');

    // when clicking the uploadBtn, open the panel to upload a file
    uploadBtn.addEventListener('click', () => inputFile.click());
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
