.themed-grid-col {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}

.themed-container {
  padding: .75rem;
  margin-bottom: 1.5rem;
  background-color: rgba(112.520718, 44.062154, 249.437846, .15);
  border: 1px solid rgba(112.520718, 44.062154, 249.437846, .3);
}
table {
  width: 70%;          /* Ocupa solo el 70% de la pantalla */
  max-width: 900px;
  margin: 40px auto;  /* Centrada con margen arriba y abajo */
  background-color: white;
  overflow: hidden;
}

table th, table td {
  padding: 0.75rem 1rem;
  vertical-align: middle;
}