

.user-avatar {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 20px;
    cursor: pointer;

  text-decoration: none; /* quita subrayado del link */
}




