/*general*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #E8F5E9;
    font-family: 'Poppins', sans-serif;
}

main{
    flex: 1;
}

h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    font-weight: 500;
    color: #2E7D32;
    letter-spacing: 2px;
}

/*Barra superior*/

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    background-color: #C8E6C9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    row-gap: 6px;    
    z-index: 1000;
}

.topbar-btn {
    display: flex;
    align-items: center;      /* centra vertical */
    justify-content: center;  /* centra horizontal */
    max-height: 40px;
}
.icon-group {
    display: flex;
    align-items: center;
    gap: 12px; /* separación limpia y responsive */
}


.icons {
    width: 35px;
    height: 35px;
    box-shadow: none !important;
    background-color: #fff;
    border-color: #fff;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;
    font-size: 20px;
    cursor: pointer;

  text-decoration: none; /* quita subrayado del link */
}
.icons:hover {
    transform: translateY(-2px);
}
.change-color{
  color: #2E7D32 !important;
}

/*botones*/
.main-button {
  background-color: #66BB6A;
  border-color: #66BB6A;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-button:hover {
  background-color: #388E3C;
  border-color: #388E3C;
    transform: translateY(-2px);
  color: #fff;
}

/*Contenedor de botones*/
.buttons-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}

/*Parte responsive*/
@media (max-width: 768px) {
  body{
    padding-top: 150px;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .main-button {
    font-size: 0.9rem;
    padding: 1rem;
  }
  .buttons-container {
        flex-wrap: wrap;
        width: 100%;
  }
  .top-bar{
    justify-content: center;

  }
}

/* Footer*/
.footer-global {
    background-color: #1B5E20;
    color: #ffffff;
    margin-top: auto;
    padding: 15px 10px;
    font-size: 0.9rem;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    background-color: #1B5E20;
    color: #ffffff;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 220px;
}

.footer-section h3{
  color: #ffffff;
}
.footer-section h4 {
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-section p{
  color: #ffffff
}
.footer-section li {
    font-size: 0.95rem;
    line-height: 1.6;
      color: #ffffff;

}

.footer-section ul {
    list-style: none;
      color: #ffffff;

    padding: 0;
}

.footer-section li {
    margin-bottom: 8px;
      color: #ffffff;

}

.footer-bottom {
    background-color: #1B5E20;
    text-align: center;
      color: #ffffff;
    padding: 15px;
    font-size: 0.85rem;
}

.license {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #C8E6C9;
}

.license a {
    color: #E8F5E9;
    text-decoration: underline;
}
