* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #2E7D32;
    letter-spacing: 2px;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E8F5E9;
    font-family: 'Poppins', sans-serif;
}

/*boton*/
.main-button {
  background-color: #66BB6A;
  border-color: #66BB6A;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.main-button:hover {
  background-color: #388E3C;
    transform: translateY(-2px);
  color: #fff;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
