.bg-primary{
    background-color: #66BB6A !important;
}
/* Contenedor principal */
main {
    max-width: 1000px; /* ancho m치ximo para que no se salga */
    margin: 0 auto; /* centrar */
    padding: 20px;
}

form {
  padding-top: 0;
}


/* Formulario y carrito */
.col-md-5, .col-md-7 {
    padding-left: 10px;
    padding-right: 10px;
}

/* Inputs m치s peque침os y con m치s espacio */
form .form-control {
    font-size: 0.9rem;
    padding: 6px 10px;
}

/* Ajustar lista del carrito */
#cart-items li {
    font-size: 0.9rem;
    padding: 6px 10px;
}

.btn {
    padding: 6px 12px;
    font-size: 0.9rem;
}
.eliminar-btn {
    background-color: #EF5350;
}

.eliminar-btn:hover {
    background-color: #C62828;
}
