body {
    font-family: 'Poppins', sans-serif;
    background-color: #E8F5E9;
    color: #2E7D32;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.perfil {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Cabecera */
.perfil-header {
    display: flex;
    align-items: center;
}

/* Foto de perfil circular */
.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Nombre */
.nombre-usuario {
    margin: 0;
    font-size: 25px;
    color: #2E7D32;
}


/* Datos personales */
.datos p {
    margin: 2px 0;   /* espacio vertical pequeño */
    line-height: 1.2; /* acerca aún más las líneas */
}

/* Galería */
.galeria {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.foto-item {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.foto-item img {
    width: 100%;
    border-radius: 8px;
}

.descripcion {
    margin-top: 8px;
    font-size: 14px;
}

/* Botones debajo de los datos */
.botones {
    display: flex;
    gap: 10px;       /* espacio entre los botones */
    margin-top: 10px; /* separación con los datos */
}

/* Estilo general de los botones */
.botones button {
    flex: 1; /* que los dos botones tengan el mismo ancho */
    padding: 1px;
    border: none;
    border-radius: 88px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s;
}

/* Botón editar */
.editar {
    background-color: #4CAF50;
    color: white;
}

/* Botón compartir */
.compartir {
    background-color: #4CAF50;
    color: white;
}
