body {
    font-family: 'Poppins', sans-serif;
    background-color: #E8F5E9;
    color: #2E7D32;
    margin: 0;
    padding: 20px;
}

/* Contenedor principal */
.perfil {
    max-width: 1100px;
    margin: auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
}

/* Cabecera */
.perfil-header {
    display: flex;
    align-items: center;
}

/* Foto de perfil circular */
.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Nombre */
.nombre-usuario {
    font-size: 25px;
    color: #2E7D32;
    margin-bottom: 5px;
}


/* Datos personales */
.datos p {
    margin: 2px 0;
    line-height: 1.3; 
}

/* BOTONES */
.botones {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.botones button {
    padding: 6px 16px;
    border-radius: 88px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.botones button:hover {
    background-color: #43a047;
}

/* CARDS PUBLICACIÓN */
.card-publicacion {
    background-color: #fafafa;
    border-radius: 12px;
    border: none;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.card-publicacion:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

/* ICONO */
.icono {
    width: 55px;
    height: 55px;
    background-color: #C8E6C9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

/* TEXTO CARD */
.card-publicacion h5 {
    margin: 0;
    font-size: 16px;
    color: #2E7D32;
}

.card-publicacion p {
    margin: 0;
    font-size: 14px;
    color: #555;
}

/* CONTENIDO MI PUBLICACIÓN */
.publicacion-contenido {
    display: flex;
    gap: 10px;
}

/* CUADRADO IMAGEN */
.publicacion-imagen {
    width: 120px;
    height: 120px;
    background-color: #C8E6C9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 13px;
    color: #2E7D32;
    text-align: center;
}

/* TEXTO */
.publicacion-texto {
    width: 100%;
    resize: none;
    border: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #555;
}

.publicacion-texto:focus {
    outline: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .publicacion-contenido {
        flex-direction: column;
    }

    .publicacion-imagen {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}
