<nav id="header-global">
            <header class="top-bar" >
                <div class="icon-group">
                    {{#userOnly}}
                        {{#profile}}
                    <a href="/User/user" class="icons" aria-label="Ir a perfil de usuario">
                        👤
                    </a>
                        {{/profile}}
                    {{/userOnly}}

                    {{#shoppingCart}}
                        <a href="/Pedidos/carroCompra" id="cart-options" class="icons" aria-label="Ir al carrito">
                            🛒
                        </a>
                    {{/shoppingCart}}

                    {{#goBackBtn}}
                        <a href="/" class="icons">🏡</a>
                    {{/goBackBtn}}

                    {{#plants}}
                        <a href="/Plantas/catalogoPlantas" class="icons">🪴</a>
                    {{/plants}}

                    {{#review}}
                        <a href="/Reviews/foro" class="icons">💬</a>
                    {{/review}}
                </div>

                {{#loginOptions}}
                    <button id="logout-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Log Out</button>
                {{/loginOptions}}

                {{#products}}
                    <a href="/Productos/catalogoProductos" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Productos</a>
                {{/products}}

                {{#userOnly}}
                    <a href="/User/pedidosUsuario" id="pedidos" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Mis pedidos</a>
                {{/userOnly}}


                {{#loginOptions}}
                    {{#changeUserBtn}}
                    <a href="/sign-in" id="changeuser-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Cambiar usuario</a>
                    {{/changeUserBtn}}
                {{/loginOptions}}

                {{#loginOptions}}
                    {{#adminBtn}}
                    <a href="/Admin/admin-panel" id="admin-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options">Admin panel</a>
                    {{/adminBtn}}
                {{/loginOptions}}

            </header>
    <script>
        const logoutbtn = document.getElementById('logout-btn');
        const adminbtn = document.getElementById('admin-btn');
        hideOptions();


        if (logoutbtn) {
            logoutbtn.addEventListener('click', function() {
                localStorage.removeItem('isLoggedIn');
                localStorage.removeItem('isAdmin');
                window.location.href = '/'; //necesita una actualización para volver a cargar la página
            });
        }

    </script>
</nav>
