<nav id="header-global">
            <header class="top-bar" >
                <div class="icon-group">
                    {{#userOnly}}
                        {{#profile}}
                    <a href="/User/user" class="icons" aria-label="Ir a perfil de usuario">
                        👤
                    </a>
                        {{/profile}}
                    {{/userOnly}}

                    {{#shoppingCart}}
                        <a href="/Orders/shoppingCart" id="cart-options" class="icons" aria-label="Ir al carrito">
                            🛒
                        </a>
                    {{/shoppingCart}}

                    {{#goBackBtn}}
                        <a href="/" class="icons">🏡</a>
                    {{/goBackBtn}}

                    {{#plants}}
                        <a href="/Plants/catalogPlants" class="icons">🪴</a>
                    {{/plants}}

                    {{#review}}
                        <a href="/Reviews/forum" class="icons">💬</a>
                    {{/review}}
                </div>

                {{#loginOptions}}
                    <form action="/logOut" method="post">
                        <button type="submit" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">
                            Log Out
                        </button>
                    </form>
                {{/loginOptions}}


                {{#products}}
                    <a href="/Products/catalogProducts" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Productos</a>
                {{/products}}

                {{#userOnly}}
                    <a href="/User/ordersUser" id="orders" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Mis pedidos</a>
                {{/userOnly}}



                {{#adminOnly}}
                    {{#adminPanel}}
                        <a href="/Admin/adminPanel" id="admin-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options">Admin panel</a>
                    {{/adminPanel}}
                {{/adminOnly}}

            </header>
</nav>
