<body>
<nav id="header-global">
            <header class="top-bar" >
                <div class="icon-group">
                    <a href="/User/user" class="icons login-options user-only" aria-label="Ir a perfil de usuario">
                        👤
                    </a>
                    <a href="/Pedidos/carroCompra" id="cart-options" class="icons" aria-label="Ir al carrito">
                        🛒
                    </a>
                    <a href="/" id="goback-btn" class="icons">🏡</a>
                    <a href="/Plantas/catalogoPlantas" id="plantitas" class="icons">🪴</a>
                    <a href="/quizzPlants" id="quizz" class="icons user-only">💬</a>
                </div>
                <button id="logout-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options">Log Out</button>
                <a href="/Productos/catalogoProductos" id="productos" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn">Productos</a>
                <a href="/User/pedidosUsuario" id="pedidos" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options user-only">Mis pedidos</a>
                <a href="/sign-in" id="changeuser-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options">Cambiar usuario</a>
                <a href="/Admin/admin-panel" id="admin-btn" class="btn btn-sm rounded-pill px-4 py-3 ms-2 main-button topbar-btn login-options">Admin panel</a>
            </header>
    <script>
        const logoutbtn = document.getElementById('logout-btn');
        const adminbtn = document.getElementById('admin-btn');
        hideOptions();


        if (logoutbtn) {
            logoutbtn.addEventListener('click', function() {
                localStorage.removeItem('isLoggedIn');
                localStorage.removeItem('isAdmin');
                window.location.href = '/'; //necesita una actualización para volver a cargar la página
            });
        }

    </script>
</nav>
</body>
